*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Pattaya', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding-top:10rem;
}
.titulo{
    font-size: 40px;
    text-align: left;
    font-family: 'Pattaya', sans-serif;
}

.texto{
    margin-top: 40px ;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.container{
   display: flex;
   width: 100%;
   margin: auto;
   justify-content: space-around;
   flex-wrap: wrap;
   border-radius: 3px;
}

.container .row{
    width: 33%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
}

.row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(48,61,61);
background: linear-gradient(0deg, rgba(48,61,61,0.20772058823529416) 12%, rgba(213,198,198,0.33657212885154064) 100%);
}

.row:hover .hover-galeria{
    transform: scale(1);
}

.amazon{
    margin-top: 70px;
}
.amazon p{
    margin-top: 30px;
}
header{
    width: 100%;
    overflow: hidden;
    background:red;
    margin-bottom: 20px;
    background: #252932;

    position: fixed;
    left: 0;
    top:0;
    z-index: 1;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo{
    color: #f2f2f2;
    font-size: 50px;
    line-height: 100px;
    float: left;
}

header nav{
    float: right;
    line-height: 100px;
}

header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;

}
header nav a:hover{
    background:#f56f3a;
    border-radius: 50px ;
}


.contenido{
    padding-top:50px ;
}
.contenido p{
    margin-bottom:1em ;
}

.marcas{
    width: 33%;
    height: 250px;
}

.contenedorimagen{
   display: flex;
   width: 85%;
   margin: auto;
   justify-content: space-around;
   flex-wrap: wrap;
   border-radius: 3px;
}

.contenedorimagen .row2{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.contenedorimagen img{
    width: 100%;
    height: auto;
}

.bombilla{
    margin-top: 20px;
    margin-bottom: 20px;
    height:550px;
    width: 975px;
    object-fit: cover;
}

.tipos-de-bombillas{
    margin-top: 40px;

}

.arriba-de-amazon{
    margin-bottom: 40px;
}

.leds{
    margin-top: 20px;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

